{% extends 'layout/filter_panel.html' %}
{% load staticfiles ba_tags %}
{% block panelHeader %}
<h3>创建BTC组</h3>
{% endblock %}
{% block filter %}
{% endblock %}
{% block content %}
<div class="form-horizontal form-label-left">
    <form action="" method="post">
        <div class="form-group">
           <label class="control-label col-md-3 col-sm-3 col-xs-12">地址:</label>
           <div class="col-md-6 col-sm-6 col-xs-12">
               <input name="address" placeholder="请输入地址" style="width:300px; height:36px">
               <label>{{ msg }}</label>
           </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input style="width:80px; height:36px; text-align:center; margin-left:100px;" type="submit" value="提交" />
            </div>
        </div>
   </form>
</div>
{% endblock %}