{% extends 'layout/filter_panel.html' %}
{% load staticfiles  ba_tags%}
{% block bixin_head_title %}
{% endblock %}
{% block panelHeader %}
<h3>标签组信息</h3>
{% endblock %}
{% block filter %}
    <div style="float:right">
        <a href="{% url 'create_tag' %}">添加新标签组</a>
    </div>
    <form encType="multipart/form-data" class="form-inline d-flex flex-row justify-content-start align-items-end"
          method="get">
        <div class="form-group">
            <label class="sr-only control-label"></label>
            {% include 'select/select_check.html' %}
            {% include 'select/select_commit.html' %}
            {% include 'select/select_cate.html' %}
            {% include 'select/select_tag.html' %}
            {% include 'select/select_tag_all.html' %}
        </div>
        <button type="submit" class="btn btn-default">查询</button>
    </form>
{% endblock %}
{% block content %}
<div class="dataTables_wrapper form-inline no-footer">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped table-bordered dataTable no-footer" role="grid">
          <thead>
            <tr role="row">
              <th class="sorting" tabindex="0" rowspan="1" colSpan="1">ID</th>
              <th class="sorting" tabindex="0" rowspan="1" colSpan="1">标签</th>
              <th class="sorting" tabindex="0" rowspan="1" colSpan="1">地址列表</th>
              <th class="sorting" tabindex="0" rowspan="1" colSpan="1">机构类型</th>
              <th class="sorting" tabindex="0" rowspan="1" colSpan="1">实体名称</th>
              <th class="sorting" tabindex="0" rowspan="1" colSpan="1">备注</th>
              <th class="sorting" tabindex="0" rowspan="1" colSpan="1">审核</th>
              <th class="sorting" tabindex="0" rowspan="1" colSpan="1">创建时间</th>
              <th class="sorting" tabindex="0" rowspan="1" colSpan="1">操作</th>
            </tr>
          </thead>
          <tbody>
          {% for item in tags_list %}
            <tr role="row">
              <td>{{ item.id }}</td>
              <td>{{ item.tag }}</td>
              <td>
              {% for addr in item.tag_address.all %}
                {{ addr.address }}
              {% endfor %}
              </td>
              <td>{{ item.cate }}</td>
              <td>{{ item.entity }}</td>
              <td>{{ item.comment }}</td>
              <td>{{ item.is_checked }}</td>
              <td>{{ item.created_at | hdatetime }}</td>
              <td>
                  <a href="{% url 'address_list' %}?tag_id={{ item.id }}">查看地址</a>
                  <a href="{% url 'edit_tag' %}?tag_id={{ item.id }}&page={{ page }}">修改</a>
                  <a href="{% url 'delete_tag' %}?tag_id={{ item.id }}&page={{ page }}">删除</a>
                  {% if item.is_checked == 'uncheck' or item.is_checked == 'checking' %}
                      <a href="#">通过</a>
                  {% elif item.is_checked == 'checked' %}
                      <a href="#">驳回</a>
                  {% endif %}
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pull-right">
      {% include 'select/pagination.html' with items=tags_list %}
    </div>
  </div>
</div>
{% endblock %}
